@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padra: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'android', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    color: white;
}

header h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    padding: 10px;
}

header p {
    max-width: 500px;
    margin: auto;
    font-size: 1.5em;
    font-family: var(--fonte-destaque);
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 350px;
    margin: auto;
}

main strong {
    color: var(--cor3);
}

main a {
    text-decoration: none;
    color: var(--cor3);
    transition-duration: 1s;
    font-weight: bolder;
}

main a:hover {
    background-color: var(--cor2);
    color: white;
}

main a::after {
    content: '\1F517';
}

nav {
    background-color: #1a5c37;
    font-weight: bold;
    padding: 15px;
}

nav a {
    color: white;
    padding: 20px;
    transition-duration: 2s;
    text-decoration: none;

}

nav a:hover {
    background-color: #1a5c37;
    color: #3ddc84;
    text-decoration: underline;
}

main h1 {
    font-family: var(--fonte-android);
    padding: 15px;
    color: var(--cor4);
}

main h2 {
    font-family: var(--fonte-android);
    text-indent: 1em;
    padding: 15px;
    color: var(--cor4);
}

main p {
    text-indent: 2em;
    font-family: var(--fonte-padra);
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    padding: 0px 10px;

}

img {
    width: 100%;
}

.bug {
    width: 50%;
    margin: auto;
}

ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    padding: 10px;
}

.video {
    background-color: var(--cor5);
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
    margin: 0px;

}

.video>iframe {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

aside>h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

aside>p {
    font-size: 1em;
    padding: 5px;
}

aside {
    background-color: var(--cor2);
    border-radius: 10px;
    margin: 10px;
}

footer p {
    padding: 15px;
    font-family: var(--fonte-padra);
    font-size: 1em;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
}