@media screen and (max-width: 600px) {

    header, header > nav {
        flex-direction: column;
    }

    header a {
        text-align: center;
        width: 90vw;
        border-radius: 15px;
    }

    header h1 {
        text-align: center;
        flex: none;
    }

    .conteiner{
        max-width: none;
        margin: none;
        
    }
}